<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Inicio_Sesion</servlet-name>
        <servlet-class>Servlet.Inicio_Sesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registro_usuario</servlet-name>
        <servlet-class>Servlet.Registro_usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cargarUsuario</servlet-name>
        <servlet-class>Servlet.cargarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearPersonaje</servlet-name>
        <servlet-class>Servlet.crearPersonaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prueba</servlet-name>
        <servlet-class>Servlet.prueba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearPokemon</servlet-name>
        <servlet-class>Servlet.crearPokemon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>preparar</servlet-name>
        <servlet-class>Servlet.preparar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>juego</servlet-name>
        <servlet-class>Servlet.juego</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cargar_juego</servlet-name>
        <servlet-class>Servlet.cargar_juego</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Botin</servlet-name>
        <servlet-class>Servlet.Botin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cargarPerfil</servlet-name>
        <servlet-class>Servlet.cargarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ensayo_sesiones2</servlet-name>
        <servlet-class>Servlet.ensayo_sesiones2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ensayo_include2</servlet-name>
        <servlet-class>Servlet.ensayo_include2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inicio_Sesion</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registro_usuario</servlet-name>
        <url-pattern>/new_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cargarUsuario</servlet-name>
        <url-pattern>/cargarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearPersonaje</servlet-name>
        <url-pattern>/crearPersonaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prueba</servlet-name>
        <url-pattern>/prueba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearPokemon</servlet-name>
        <url-pattern>/crearPokemon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>preparar</servlet-name>
        <url-pattern>/preparar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>juego</servlet-name>
        <url-pattern>/juego</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cargar_juego</servlet-name>
        <url-pattern>/cargar_juego</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Botin</servlet-name>
        <url-pattern>/Botin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cargarPerfil</servlet-name>
        <url-pattern>/cargarPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ensayo_sesiones2</servlet-name>
        <url-pattern>/ensayo_sesiones2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ensayo_include2</servlet-name>
        <url-pattern>/ensayo_include2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
